defaults:
  lastfm:
    base: 'http://ws.audioscrobbler.com/2.0/'
    apikey: TODO

  sidekiq:
    password: TODO

development:
  <<: *defaults

test:
  <<: *defaults
  lastfm:
    apikey: 'test'

staging:
  <<: *defaults

production:
  <<: *defaults
