default: &default
  adapter: postgresql
  encoding: unicode
  username: yossarian
  password: yossarian
  pool: 5

development:
  <<: *default
  database: yossarian_development

test:
  <<: *default
  database: yossarian_test

production:
  <<: *default
  database: yossarian_production
