// general

* {
  outline: none !important;
}

.btn, .dropdown-menu, .modal-content, .well,
button, input, select, textarea {
  box-shadow: none !important;
}

address, form, nav, p, dl, ol, ul, table {
  &:last-child {
    margin-bottom: 0;
  }
}

// icons

.fa {
  cursor: default !important;
}

a .fa {
  cursor: pointer !important;
}

.fa-blank {
  display: none;
}

// modals

.modal-dialog {
  color: $text-color !important;
}
