@import 'foundation_and_overrides';
@import 'utilities';

body {
  margin:0;
  padding:0;
}

#map {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
}

.hero {
  background-size: cover;
  background-image: asset_url('hero.png');
  background-position: fixed;
  height: 700px;
  padding: 150px 20px 0 20px;

  h1 {
    color: #fff;
    font-weight: bold;
    font-size: 46pt;

    small {
      color: #fff;
      font-weight: normal;
    }
  }
}

#events-list {
  text-align: center;

  > li {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;

    margin-bottom: 10px;
    border: 1px solid #eee;
  }

  .info {
    padding: 10px 40px;
    display: block;
    position: absolute;
    top: 0;
    botom: -1px;
    opacity: 0.8;
    width: 100%;
    background-color: #eee;
    color: #000;
    z-index: 8;
    overflow: hidden;

    height: 45px;
    // TODO mixin
    transition: all 200ms ease;

    &.open {
      opacity: 0.9;
      height: 100%;
    }

    h3 {
      overflow: hidden;
    }
  }
}

#player {
  right: 0px;
  bottom: 0px;
  position: fixed;
  width: 600px;
  z-index: 999;

  .controls {
    background-color: #eee;
  }
}

