@import 'foundation_and_overrides';
@import 'utilities';

body {
  margin:0;
  padding:0;
}

#map {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
}

#events-list {
  list-style: none;
  text-align: center;

  > li {
    padding: 10px;
    margin-bottom: 20px;
  }
}
